.sigcontainer {
	  position: relative;
	  width: 100%;
	}
	
	.image {
	  display: block;
	  width: 100%;
	  height: auto;
	}
	
	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: #000;
	}
	
	.sigcontainer:hover .overlay {
	  opacity: 0.75;
	}
	
	.text {
	  color: white;
	  font-size: 20px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  text-align: center;
	}
	
	/*Media Queries*/
	@media (min-width:320px)  { .sig { overflow-y:scroll;height:210px } .siglogo { object-fit: cover;width: 100%;height: 200px; }/* smartphones, iPhone, portrait 480x320 phones */ }
	@media (min-width:481px)  {  .sig { overflow-y:scroll;height:400px } .siglogo { object-fit: cover;width: 100%;height: 200px; }/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
	@media (min-width:641px)  {  .sig { overflow-y:scroll;height:400px } .siglogo { object-fit: cover;width: 100%;height: 200px; } /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
	@media (min-width:961px)  { .caro { object-fit: cover;width: 100%;height: 600px; } .siglogo { object-fit: cover;width: 100%;height: 400px; } .sig { overflow-y:scroll;height:400px } /* tablet, landscape iPad, lo-res laptops ands desktops */ }
	@media (min-width:1025px) { .caro { object-fit: cover;width: 100%;height: 600px; } .siglogo { object-fit: cover;width: 100%;height: 400px; } .sig { overflow-y:scroll;height:400px }/* big landscape tablets, laptops, and desktops */ }
	@media (min-width:1281px) { .caro { object-fit: cover;width: 100%;height: 600px; } .siglogo { object-fit: cover;width: 100%;height: 400px; } .sig { overflow-y:scroll;height:400px } /* hi-res laptops and desktops */ }
	
	
	
