.test-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/main.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.test-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*Media Queries*/
	@media (min-width:320px)  {  .test-image { max-width: 100%; height: 300px; } /* smartphones, iPhone, portrait 480x320 phones */ }
	@media (min-width:481px)  {  .test-image { max-width: 100%; height: 300px; } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
	@media (min-width:641px)  {  .test-image { max-width: 100%; height: 300px; } /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
	@media (min-width:961px)  {  .test-image { max-width: 100%; height: 300px; } /* tablet, landscape iPad, lo-res laptops ands desktops */ }
	@media (min-width:1025px) {  .test-image { max-width: 100%; height: 300px; } /* big landscape tablets, laptops, and desktops */ }
	@media (min-width:1281px) {  .test-image { max-width: 100%; height: 300px; }
