
.test {
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse farthest-corner at center top, #fd6a56 0%, #b63c45 100%);
  color: #8b9095;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.onboard {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 350px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
h1 {
  padding: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #1c222b;
}
h1 strong {
  background: #fa6b5b;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 8px;
  font-size: 83%;
  line-height: 1;
  position: relative;
  top: -2px;
  left: 2px;
}
.slick-track {
  transition: all 0.5s cubic-bezier(0.93, 0.01, 0.15, 0.97);
}
.item {
  width: 300px;
  height: 500px;
  text-align: center;
  font-size: 200px;
  color: #eee;
  outline: none;
  padding: 100px 40px 0;
}
.item .ico {
  margin: 0 auto;
  height: 160px;
  text-align: center;
  position: relative;
}
.item .ico svg {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.item .tit {
  font-size: 25px;
  color: #FA6B5B;
  margin-bottom: 20px;
}
.item .text {
  font-size: 16px;
  line-height: 1.5;
  color: #5c5f67;
}
.item .cta {
  background: linear-gradient(-5deg, #CE4C4B, #FC6956);
  border-radius: 30px;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  padding: 14px 10px;
  margin: 35px 0 0;
}
.item .cta:hover {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
}
.item .cta:focus {
  box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4);
}
/*--------------------
 Animation
 ---------------------*/
.from-right .ico, .from-right .tit, .from-right .text, .from-right .cta {
  opacity: 0;
  transform: translate(200px);
}
.from-right .ico {
  transform: translate(200px) rotate(45deg);
}
.from-left .ico, .from-left .tit, .from-left .text, .from-left .cta {
  opacity: 0;
  transform: translate(-200px);
}
.from-left .ico {
  transform: translate(-200px) rotate(-45deg);
}
.ready .ico, .ready .tit, .ready .text, .ready .cta {
  transform: translate(0) rotate(0);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.93, 0.01, 0.15, 0.97) 0.5s;
}
.ready .tit {
  transition-delay: 0.6s;
}
.ready .text {
  transition-delay: 0.7s;
}
.ready .cta {
  transition: all 0.5s cubic-bezier(0.93, 0.01, 0.15, 0.97) 0.8s, box-shadow 0.3s ease 0s;
}
/*--------------------
 Slick Dots
 ---------------------*/
.slick-dots {
  bottom: -40px;
}
.slick-dots a {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}
.slick-dots span {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.slick-dots circle {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-dasharray: 39 39;
  stroke-dashoffset: 39;
  transition: all 0.9s ease-in-out;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.93, 0.01, 0.15, 0.97);
}
.slick-dots .slick-active circle {
  stroke-dashoffset: 0;
}
